<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
		
		<title>임시 푸시 페이지</title>
		
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    	
    	<style>
        	body { padding-top:80px; }
        	
			@font-face {
				font-family: 'Nanum Gothic'; font-style: normal; font-weight: 400;
				src: url('../public/NanumGothic-Regular.eot');
				src: local('NanumGothic'),
					url('../public/NanumGothic-Regular.eot?#iefix') format('embedded-opentype'),
					url('../public/NanumGothic-Regular.woff2') format('woff2'),
					url('../public/NanumGothic-Regular.woff') format('woff'),
					url('../public/NanumGothic-Regular.ttf') format('truetype');
			}
        	
        	h1, p, a { font-family: 'Nanum Gothic' }
    	</style>
    
	</head>
	<body>
		<div class="container">
		    <div class="jumbotron text-center">
		        <h1><span class="glyphicon glyphicon-pencil"></span> 임시 푸시 페이지</h1>
		    </div>
		    		
		<div class="from-group text-center">
			<h1>푸시전송 (다수) </h1>
			<form action="/process/devicepushall" method="post">
				<select name="data">
					<option value="CW:OFF">와이파이 차단
					<option value="CW:ON">와이파이 허용
					<option value="CB:OFF">블루투스 차단
					<option value="CB:ON">블루투스 허용
					<option value="CT:OFF">테더링 차단
					<option value="CT:ON">테더링 허용
					<option value="MC:OFF">카메라 차단
					<option value="MC:ON">카메라 허용
					<option value="MR:OFF">음성녹음 차단
					<option value="MR:ON">음성녹음 허용
					<option value="MCA:OFF">화면캡처 차단
					<option value="MCA:ON">화면캡처 허용
			    </select>
				<input type="submit" value="보내기" class="btn btn-warning">
			</form>
		</div>
		
		</div>

	</body>
</html>