<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
		
		<title>사용자 등록</title>
		
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    	
    	
    	<style>
        	body        { padding-top:80px; }
    	</style>
    
	</head>
		<script language="javascript">
			function infoConfirm(){
				if(myform.employee_num.value.length === 0){
					alert("사원번호는 필수 사항입니다.");
					myform.employee_num.focus();
					return;
				}
				
				if(myform.employee_num.value.length != 8){
					alert("사원번호는 8자리이어야 합니다.");
					myfrom.employee_num.focus();
					return;
				}
				
				if(myform.name.value.length === 0){
					alert("이름은 필수 사항입니다.");
					myform.name.focus();
					return;
				}
				myform.submit();
			}
		</script>
	<body>
	    	
		<div class="container">			
						
			<div class="col-sm-6 col-sm-offset-3">
			
			    <h1><span class="fa fa-sign-in"></span> 사용자 등록</h1>
 
			    <form action="/process/useradd" method="post" id="myform">
			    	<div class="from-group">
			    		<label>사원번호</label>
			    		<input type="text" id="employee_num" class="form-control" name="employee_num" placeholder="사원번호" maxlength="8"><br>
			    	</div>
			        <div class="form-group">
			            <label>이름</label>
			            <input type="text" id="name" class="form-control" name="Name" placeholder="이름" maxlength="8">
			        </div>
			        <div class="form-group">
			            <label>직급</label>
			            <select class="form-control" id="rank" name="Rank">
			            <option>사원
			            <option>주임
			            <option>대리
			            <option>과장
			            <option>차장
			            <option>부장
			            </select>
			        </div>
			        <div class="form-group">
			            <label>부서</label>
			            <select class="form-control" id="department" name="Department">
			            <option>기획팀
			            <option>마케팅팀
			            <option>총무팀
			            <option>개발팀
			            <option>디자인팀
			            <option>홍보팀
			            <option>영업팀
			            <option>연구팀
			            </select>
			        </div>
			        <div class="form-group">
			        	<label>생일</label>
			        	<input type="date" class="form-control" name="Date_of_birth" maxlength="10">
			        </div>
			        <div class="form-group">
			        	<label>주소</label><br>
			        	<input type="text" id="postcode" name="postcode" placeholder="우편번호">
			        	<input type="button" onclick="DaumPostCode()" class="btn-warning" value="우편번호 찾기"> <br><br>
			        	<input type="text" id="postcode_address" name="address1" placeholder="주소" size="41">
						<input type="text" id="postcode_address2" name="address2" placeholder="상세주소" size="25" maxlength="10">
			        	
			        	<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
			        	<script>
			        		function DaumPostCode(){
			        			new daum.Postcode({
			        				oncomplete: function(data){
				        				var fullAddr = '';
				        				var extraAddr = '';
				        				
				        				if(data.userSelectedType === 'R') {
				        					fullAddr = data.roadAddress;
				        				} else {
				        					fullAddr = data.jibunAddress;
				        				}
				        				
				        				if(data.userSelectedType === 'R') {
				        					if(data.bname !== ''){
				        						extraAddr += data.bname;
				        					}
				        					
				        					if(data.buildingName !== '') {
				        						extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
				        					}
				        					
				        					fullAddr += (extraAddr !== '' ? ' (' + extraAddr +')' : '');
				        				}
				        				
				        				document.getElementById('postcode').value = data.zonecode;
				        				document.getElementById('postcode_address').value = fullAddr;
				        				
				        				document.getElementById('postcode_address2').focus();
			        				}
			        			}).open();
			        		}
			        	</script>
			        </div>
			        <div class="form-group">
			        	<label>비상연락망</label>
			        	<select id="ecn_num" name="Ecn_num1">
			            <option>02
			            <option>051
			            <option>053
			            <option>032
			            <option>062
			            <option>042
			            <option>052
			            <option>044
			            <option>031
			            <option>033
			            <option>043
			            <option>041
			            <option>063
			            <option>061
			            <option>054
			            <option>055
			            <option>064
			            <option>070
			            </select> - 
			        	<input type="text" id="ecn_num2" name="Ecn_num2" maxlength="4" size="5"> - 
			        	<input type="text" id="ecn_num3" name="Ecn_num3" maxlength="4" size="5">
			        </div>
			        <button class="btn btn-warning btn-lg" onclick="infoConfirm();return false;">사용자 등록</button>
			        
			    </form>
			
			    <hr>
			</div>
			
		</div>				
	</body>
</html>